.block-wrapper {
    height: 100px;
    line-height: 100px;
    width: 100%;
    border: 1px solid #f00;
    text-align: center;
    font-size: 0;
}

.block{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50%;
    border: 1px solid #0f0;
}
