.block-wrapper {
    height: 300px;
    line-height: 300px;
    width: 100%;
    background: #b47552;
    font-size: 0; /* 很关键 */
}

.block{
    display: inline-block;
    vertical-align: middle;
    height: 150px;
    width: 50%;
    background: #d2ad9a;
}
