body {
    font-family: Microsoft Yahei;
    font-size: 25px;
    font-weight: 100;
    color: #fbfdfe;
    text-align: center;
    background: #2a2a2a;
    padding: 50px;
}

.title {
    height: 100px;
    line-height: 100px;
}

.title:after {
    content: '——';
    margin-left: 20px;
}

.title:before {
    content: '——';
    margin-right: 20px;
}

.subtitle {
    font-size: 12px;
    position: relative;
    top: -30px;
}

.subtitle a {
    color: #fff;
}