
body {
    font-family: Microsoft Yahei;
    font-size: 25px;
    font-weight: 100;
    color: #fbfdfe;
    text-align: center;
    background: #2a2a2a;
    padding: 50px;
}

header, footer, .title {
    height: 100px;
    line-height: 100px;
}

header, footer {
    box-sizing: border-box;
    background: #b47552;
    text-align: center;
}

.title:after {
    content: '——';
    margin-left: 20px;
}

.title:before {
    content: '——';
    margin-right: 20px;
}

.subtitle {
    font-size: 12px;
    position: relative;
    top: -30px;
}

.subtitle a {
    color: #fff;
}

.main {
    overflow: auto;
    line-height: 300px;
}

.main .content-wrapper {
    height: 300px;
    float: left;
    width: 100%;
}

.main .content-wrapper .content {
    margin-right: 100px;
    height: 300px;
    background: #d2ad9a;
}

.main .aside {
    border-left: 0;
    border-left: 0;
    height: 300px;
    width: 100px;
    float: left;
    background: #805249;
    margin-left: -100px;
}





